html
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='static/img/favicon.png')
    title Eduación Bíblica para Todos
    link(href='static/css/bootstrap.min.css', rel='stylesheet')
    link(href='static/css/style.css', rel='stylesheet')    
  
  body(style='margin-top:50px; margin-bottom:50px;')
    div(style='justify-content:center; align-items:center; display:flex;')
      img(src='static/img/logo.png' width='75%')
    .container(style='margin-top:50px;')
      block content
      footer(style='margin-top:50px;')
        p(style='display:flex;justify-content:center;align-items:center;') &copy; 2015 Editorial Bautista de Venezuela – Todos los derechos reservados.
        p(style='display:flex;justify-content:center;align-items:center;') Para una mejor experiencia recomendamos Mozila Firefox. Si no lo tiene, búsquelo en el área de Herramientas.
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='static/js/jquery-2.1.4.min.js')
    |       
    script(src='static/js/bootstrap.min.js')