html
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Eduación Bíblica para Todos
    link(href='static/css/bootstrap.min.css', rel='stylesheet')
    link(href='static/css/style.css', rel='stylesheet')    
  
  body
    .jumbotron
      .container
        h1 Logo del libro
        |           
        p
          | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        |           
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more &raquo;
    |       
    .container
      block content
      footer(style='margin-top:50px')
        p &copy; 2015 Editorial Bautista de Venezuela – Todos los derechos reservados.
        p Para una mejor experiencia recomendamos Mozila Firefox. Si no lo tiene, busquelo en el area de 
          a(href='tools.html') Herramientas.
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='static/js/jquery-2.1.4.min.js')
    |       
    script(src='static/js/bootstrap.min.js')