extends base.jade

block content
  a.btn.btn-lg.btn-success(href='static/pdf/intro.pdf' target='_blank') Introducción al trimestre

  table.table.table-hover(style='margin-top:20px;')
    tr
      th #
      th Nombre
      th Clase

    tr
      td(colspan='3') 
        center 
          strong Dios me crea con Salud Integral

    tr
      td 1
      td Nombre de clase
      td Link

    tr
      td 2
      td Nombre de clase
      td Link

    tr
      td 3
      td Nombre de clase
      td Link

    tr
      td 4
      td Nombre de clase
      td Link

    tr
      td(colspan='3') 
        center 
          strong Soy responsable de mi salud

    tr
      td 5
      td Nombre de clase
      td Link

    tr
      td 6
      td Nombre de clase
      td Link

    tr
      td 7
      td Nombre de clase
      td Link

    tr
      td 8
      td Nombre de clase
      td Link

    tr
      td(colspan='3') 
        center 
          strong Mi estilo de vida saludable

    tr
      td 9
      td Nombre de clase
      td Link

    tr
      td 10
      td Nombre de clase
      td Link

    tr
      td 11
      td Nombre de clase
      td Link

    tr
      td 12
      td Nombre de clase
      td Link

    tr
      td 13
      td Nombre de clase
      td Link

  a.btn.btn-lg.btn-primary(href='lessons.html' style='margin-top:50px;') Volver
