extends base.jade

block content
  .buttons(style='justify-content:center; align-items:center; display:flex;')
    a.btn.btn-lg.btn-success(href='static/pdf/intro.pdf' target='_blank') Introducción al trimestre
    a.btn.btn-lg.btn-primary(href='static/pdf/lessons/first_q/plan_first_q.pdf' target='_blank' style='margin-left:20px;') 
      |Plan del trimestre

  h3(style='justify-content:center; align-items:center; display:flex;') Dios me crea con Salud Integral
  table.table.table-hover(style='margin-top:20px;')
    tr
      th #
      th Nombre
      th Clase

    tr
      td 1
      td Salud integral, propósito de Dios para el hombre
      td
        a(href='static/pdf/lessons/first_q/estudio1.pdf' target='_blank') Estudio 1

    tr
      td 2
      td Desobediencia, redefinir el propósito Divino.
      td
        a(href='static/pdf/lessons/first_q/estudio2.pdf' target='_blank') Estudio 2

    tr
      td 3
      td Justificación, acto de Dios para restaurar al propósito original.
      td
        a(href='static/pdf/lessons/first_q/estudio3.pdf' target='_blank') Estudio 3

    tr
      td 4
      td Vida en la Palabra, método de Dios para Preservar su obra.
      td
        a(href='static/pdf/lessons/first_q/estudio4.pdf' target='_blank') Estudio 4

  
  h3(style='justify-content:center; align-items:center; display:flex;') Soy responsable de mi salud

  table.table.table-hover(style='margin-top:20px;')
    tr
      th #
      th Nombre
      th Clase

    tr
      td 5
      td Vivir en el Espíritu produce una mente sana.
      td
        a(href='static/pdf/lessons/first_q/estudio5.pdf' target='_blank') Estudio 5

    tr
      td 6
      td Cuidado del Cuerpo, creación de Dios y el templo del Espíritu Santo.
      td
        a(href='static/pdf/lessons/first_q/estudio6.pdf' target='_blank') Estudio 6

    tr
      td 7
      td Aceptar que somos responsables de mantener salud integral.
      td
        a(href='static/pdf/lessons/first_q/estudio7.pdf' target='_blank') Estudio 7

    tr
      td 8
      td El Reposo Bíblico como Estilo de Vida Saludable.
      td
        a(href='static/pdf/lessons/first_q/estudio8.pdf' target='_blank') Estudio 8

  h3(style='justify-content:center; align-items:center; display:flex;') Mi estilo de vida saludable

  table.table.table-hover(style='margin-top:20px;')
    tr
      th #
      th Nombre
      th Clase

    tr
      td 9
      td Dominio Propio en la expresión de las Emociones.
      td
        a(href='static/pdf/lessons/first_q/estudio9.pdf' target='_blank') Estudio 9

    tr
      td 10
      td Perdón de la culpa, superar el sentimiento de culpa.
      td
        a(href='static/pdf/lessons/first_q/estudio10.pdf' target='_blank') Estudio 10

    tr
      td 11
      td Victoria sobre sobre la ansiedad.
      td
        a(href='static/pdf/lessons/first_q/estudio11.pdf' target='_blank') Estudio 11

    tr
      td 12
      td Enfrentar la enfermedad con actitud positiva.
      td
        a(href='static/pdf/lessons/first_q/estudio12.pdf' target='_blank') Estudio 12

    tr
      td 13
      td El amor genera relaciones saludables y productivas.
      td
        a(href='static/pdf/lessons/first_q/estudio13.pdf' target='_blank') Estudio 13

  div(style='display:flex;justify-content:center;align-items:center;')
    a.btn.btn-lg.btn-primary(href='lessons.html' style='margin-top:50px;') Volver
