extends base.jade

block content
  .row
    .col-xs-6.col-md-4
      div
        a.center(href='static/pdf/presentacion.pdf' target='_blank')
          img(src='static/img/presentation.png', width='45%')
      h3.center Presentación
    .col-xs-6.col-md-4
      div
        a.center(href='lessons.html')
          img(src='static/img/lessons.png', width='45%')
      h3.center Estudios
    .col-xs-6.col-md-4
      div
        a.center(href='tools.html')
          img(src='static/img/tools.png', width='45%')
      h3.center Herramientas

