extends base.jade

block content
  .row
    .col-xs-6.col-md-4
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='static/pdf/presentacion.pdf' target='_blank')
          img(src='static/img/presentation.png')
      h1(style='justify-content:center; align-items:center; display:flex;') Presentación
    .col-xs-6.col-md-4
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='lessons.html')
          img(src='static/img/lessons.png')
      h1(style='justify-content:center; align-items:center; display:flex;') Lecciones
    .col-xs-6.col-md-4
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='tools.html')
          img(src='static/img/tools.png')
      h1(style='justify-content:center; align-items:center; display:flex;') Herramientas

