extends base.jade

block content
  .row
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='static/pdf/presentacion.pdf')
          img(src='static/img/algodon.png')
      h1(style='justify-content:center; align-items:center; display:flex;') Presentación
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='static/pdf/intro.pdf')
          img(src='static/img/algodon.png')
      h1(style='justify-content:center; align-items:center; display:flex;') Introducción
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='lessons.html')
          img(src='static/img/algodon.png')
      h1(style='justify-content:center; align-items:center; display:flex;') Lecciones
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='#')
          img(src='static/img/algodon.png')
      h1(style='justify-content:center; align-items:center; display:flex;') Herramientas

