extends base.jade

block content
  .row
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='first_q.html')
          img(src='static/img/algodon.png')
      h3(style='justify-content:center; align-items:center; display:flex;') Salud Integral
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='#')
          img.desaturate(src='static/img/algodon.png')
      h3(style='justify-content:center; align-items:center; display:flex;') Sermón del Monte 1
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='#')
          img.desaturate(src='static/img/algodon.png')
      h3(style='justify-content:center; align-items:center; display:flex;') Sermón del Monte 2
    .col-xs-6.col-md-3
      .center(style="display:flex;justify-content:center;align-items:center;")
        a(href='#')
          img.desaturate(src='static/img/algodon.png')
      h3(style='justify-content:center; align-items:center; display:flex;') Mayordomía y Navidad

  a.btn.btn-lg.btn-primary(href='index.html' style='margin-top:50px;') Volver

