extends base.jade

block content
  #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4#myModalLabel.modal-title Error
          |       
          .modal-body
            | Este contenido aun no está disponible.
          |       
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
  .row
    .col-xs-6.col-md-3
      div
        a.center(href='first_q.html')
          img(src='static/img/first_q.png', width='50%')
      h3.center Salud Integral
    .col-xs-6.col-md-3
      div
        a.center(href='#', data-toggle='modal', data-target='#modal')
          img.desaturate(src='static/img/second_q.png', width='50%')
      h3.center Sermón del Monte 1
    .col-xs-6.col-md-3
      div
        a.center(href='#', data-toggle='modal', data-target='#modal')
          img.desaturate(src='static/img/third_q.png', width='50%')
      h3.center Sermón del Monte 2
    .col-xs-6.col-md-3
      div
        a.center(href='#', data-toggle='modal', data-target='#modal')
          img.desaturate(src='static/img/fourth_q.png', width='50%')
      h3.center Mayordomía y Navidad
  
  .center
    a.btn.btn-lg.btn-primary(href='index.html', style='margin-top:20px;') Volver

