extends base.jade

block content
  .row
    .col-xs-6.col-md-4
      div
        center
          a(href='static/tools/pdfreader.exe')
            img(src='static/img/pdf.png', width='45%')
      h3.center Lector de PDF

    .col-xs-6.col-md-4

    .col-xs-6.col-md-4
      div
        center
          a(href='static/tools/firefox.exe')
            img(src='static/img/firefox.png', width='45%')
      h3.center Mozilla Firefox

  .center
    a.btn.btn-lg.btn-primary(href='index.html' style='margin-top:20px;') Volver
